/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
body {
  background:
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main, Inter-Variable), sans-serif;
  font-size: 18px;
  line-height: 1;
  font-variation-settings: 'wght' var(--base-weight, 400);
  background-color: var(--bg-color, #fff);
  color: var(--text-color, #000);
  padding-block-end: 100px;
}

.header {
  display: flex;
}
.header__window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  margin: 100px auto;
  font-family: var(--font-accent, PressStart2P), sans-serif;
  font-weight: var(--base-weight, 400);
  border: var(--border, 2px solid #000);
  background-color: #fff;
}
.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}
.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}



.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  display: flex;
  inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  flex-direction: column;
  justify-content: center;
  border: var(--border, 2px solid #000);
  background-color: var(--bg-color, #fff);
}

.card__title {
  padding: 7px 10px;
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: 'wght' var(--heading-weight, 700);
  border-bottom: var(--border, 2px solid #000);
}

.card__text {
  padding: 25px;
  line-height: 21px;
  text-wrap: wrap;
}

.info {
  margin-block-end: 27px;
}

.card__image-container {
  position: relative;
}
.card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img2 {
    filter: grayscale(80%);
}

.img3 {
    filter: saturate(400%);
}

.img4 {
    filter: hue-rotate(25deg);
}

.img5 {
    filter: invert(100%);
}

.img6 {
    filter: sepia(80%);
}

.img7 {
    filter: blur(5px);
}

.img8 {
    filter: blur(3px) hue-rotate(70deg) sepia(50%);
}

.img-text {
  position: absolute;
  top: 25px;
  right: clamp(0.6875rem, -0.4063rem + 3.5vw, 1.5625rem);
  font-family: var(--font-accent, PressStart2P), sans-serif;
  font-size: 14px;
  color: rgb(0 0 0 / 0.5);
  text-shadow:
          -1px 0 var(--text-stroke-color, rgb(255 255 255 / 0.5)),
          0 1px var(--text-stroke-color, rgb(255 255 255 / 0.5)),
          1px 0 var(--text-stroke-color, rgb(255 255 255 / 0.5)),
          0 -1px var(--text-stroke-color, rgb(255 255 255 / 0.5));
  mix-blend-mode: hard-light;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}
.card__like-button,
.save-button,
.button__close-dialog {
  position: relative;
  padding-block: 12.5px;
  margin: auto;
  background-color: var(--bg-color, #fff);
  border: none;
  outline: var(--border, 1px solid #000);
  font-family: var(--font-accent, PressStart2P), sans-serif;
  font-size: 14px;
  font-weight: var(--base-weight, 400);
  line-height: 0.9;
}

.button__text,
.save-button__text,
.save-icon {
  color: var(--hover-button-text-color, #fff);
  fill: var(--hover-button-text-color, #fff);
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
}

.card__like-button::after,
.save-button::after,
.button__close-dialog::after {
  content: '';
  position: absolute;
  inset: 0;
  block-size: 100%;
  transform-origin: 0 0;
  transform: scaleX(0);
  background-color: var(--accent-color, #000);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.card__like-button:hover::after,
.save-button:hover::after,
.button__close-dialog:hover::after {
  transform: scaleX(1);
}

.card__button:has(.card__like-button) {
  display: flex;
  gap: 12px;
  align-items: center;
  align-self: flex-end;
  margin: 0 25px 25px 0;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  transition: border 0.3s ease;
  padding: 0;
}



.save {
  display: flex;
  margin-block-start: 50px;
}

.dialog__button:has(.save-button) {
  margin: auto;
}

.save-button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 15px 21px;
}

.save-icon {
  inline-size: 21px;
  block-size: 21px;
}

.save-button__text {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  z-index: 2;
}

.dialog__text {
  grid-area: text;
}

.dialog__icon {
  grid-area: icon;
  inline-size: 39px;
  block-size: 39px;
}

.button__close-dialog {
  grid-area: button;
  inline-size: 100%;
  margin-top: 25px;
}

dialog {
    position: fixed;
    inset: 0;
    max-width: 353px;
    width: 353px;
    padding: 30px;
    font-family: var(--font-accent, PressStart2P), sans-serif;
    font-size: 14px;
    line-height: 90%;
    border: var(--border, 2px solid #000);
}

dialog:not([open]) {
  display: none;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  opacity: 75%;
}
